/* line 5, ../../compass/sass/_navbar.scss */
.navbar-wrapper {
  display: flex;
  background: #2e6da4;
  width: 100%;
  padding: 10px;
  line-height: 50px;
  top: 0;
  left: 0;
  box-shadow: -2px 4px 3px 2px rgba(0, 0, 0, 0.2);
}
/* line 16, ../../compass/sass/_navbar.scss */
.navbar-wrapper ul {
  margin-top: 0;
  display: flex;
  text-decoration: none;
}
/* line 22, ../../compass/sass/_navbar.scss */
.navbar-wrapper img {
  height: 20px;
}
/* line 26, ../../compass/sass/_navbar.scss */
.navbar-wrapper a:link {
  color: #fff;
  text-decoration: none;
}
/* line 33, ../../compass/sass/_navbar.scss */
.navbar-wrapper .navbar-nav li a {
  color: #fff;
}
/* line 39, ../../compass/sass/_navbar.scss */
.navbar-wrapper .title li a {
  display: block;
  float: left;
  padding-left: 1em;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
/* line 51, ../../compass/sass/_navbar.scss */
.navbar-wrapper .title li a:hover {
  background-color: transparent;
  cursor: pointer;
}

/* line 60, ../../compass/sass/_navbar.scss */
.float-right {
  float: right;
  font-size: 1em;
}
/* line 65, ../../compass/sass/_navbar.scss */
.float-right .login, .float-right .signup {
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Heebo', sans-serif;
}
/* line 73, ../../compass/sass/_navbar.scss */
.float-right .login {
  background-color: #fff;
  color: #2e6da4 !important;
  margin-right: 1em;
}
/* line 81, ../../compass/sass/_navbar.scss */
.float-right .login:hover {
  background: #2e6da4;
  color: #fff !important;
  cursor: pointer;
}
/* line 87, ../../compass/sass/_navbar.scss */
.float-right .signup {
  color: #fff;
  margin-right: 1em;
}
/* line 92, ../../compass/sass/_navbar.scss */
.float-right .signup:hover {
  background-color: #fff;
  color: #2e6da4;
  cursor: pointer;
}

/* line 3, ../../compass/sass/_home.scss */
* {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 10, ../../compass/sass/_home.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 16, ../../compass/sass/_home.scss */
.overlay {
  height: 46%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #777;
  opacity: 0.6;
}

/* line 27, ../../compass/sass/_home.scss */
.home {
  position: absolute;
  background-image: url("https://static.pexels.com/photos/480351/pexels-photo-480351.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  min-width: 102%;
  min-height: 100%;
  overflow: scroll;
  display: flex;
}

/* line 49, ../../compass/sass/_home.scss */
.subtitle {
  float: left;
  color: #fff;
  margin: 9em 0em 0em 0em;
  z-index: 1;
  font-weight: bolder;
  font-family: 'Heebo',sans-serif;
}

/* line 60, ../../compass/sass/_home.scss */
.homeNav {
  margin: 3em 0em 0em 4em;
  display: flex;
}
/* line 65, ../../compass/sass/_home.scss */
.homeNav h3 {
  top: 35px;
  position: relative;
  color: #fff;
}
/* line 72, ../../compass/sass/_home.scss */
.homeNav ul {
  list-style: none;
}
/* line 75, ../../compass/sass/_home.scss */
.homeNav ul li a {
  text-decoration: none;
  float: left;
  z-index: 3;
  list-style: none;
  cursor: pointer;
}
/* line 83, ../../compass/sass/_home.scss */
.homeNav ul li a h3:hover {
  color: #777;
  cursor: pointer;
}

/* line 94, ../../compass/sass/_home.scss */
.hexagon {
  position: relative;
  width: 202px;
  height: 114.47px;
  background-color: #A83B56;
  margin: 57.74px 0;
  z-index: 3;
  line-height: 60px;
}

/* line 105, ../../compass/sass/_home.scss */
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 102px solid transparent;
}

/* line 114, ../../compass/sass/_home.scss */
.hexagon:before {
  left: 0%;
  bottom: 100%;
  border-bottom: 57.74px solid #A83B56;
}

/* line 120, ../../compass/sass/_home.scss */
.hexagon:after {
  top: 100%;
  width: 0;
  left: 0%;
  border-top: 57.74px solid #A83B56;
}

/* line 128, ../../compass/sass/_home.scss */
.hex2 {
  position: relative;
  width: 202px;
  height: 114.47px;
  background-color: #525174;
  margin: 57.74px 0;
  z-index: 3;
  line-height: 60px;
  left: 10em;
  bottom: 5em;
}

/* line 140, ../../compass/sass/_home.scss */
.hex2:before,
.hex2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 102px solid transparent;
}

/* line 149, ../../compass/sass/_home.scss */
.hex2:before {
  left: 0%;
  bottom: 100%;
  border-bottom: 57.74px solid #525174;
}

/* line 155, ../../compass/sass/_home.scss */
.hex2:after {
  top: 100%;
  width: 0;
  left: 0%;
  border-top: 57.74px solid #525174;
}

/* line 165, ../../compass/sass/_home.scss */
.hex3 {
  position: relative;
  width: 202px;
  height: 114.47px;
  background-color: #14a3ba;
  margin: 57.74px 0;
  z-index: 3;
  line-height: 60px;
  left: 20em;
  bottom: 33em;
}

/* line 177, ../../compass/sass/_home.scss */
.hex3:before,
.hex3:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 102px solid transparent;
}

/* line 186, ../../compass/sass/_home.scss */
.hex3:before {
  left: 0%;
  bottom: 100%;
  border-bottom: 57.74px solid #14a3ba;
}

/* line 192, ../../compass/sass/_home.scss */
.hex3:after {
  top: 100%;
  width: 0;
  left: 0%;
  border-top: 57.74px solid #14a3ba;
}

/* line 200, ../../compass/sass/_home.scss */
.hex4 {
  position: relative;
  width: 202px;
  height: 114.47px;
  background-color: #0a093e;
  margin: 57.74px 0;
  z-index: 3;
  line-height: 60px;
  left: 30em;
  bottom: 38em;
}

/* line 213, ../../compass/sass/_home.scss */
.hex4:before,
.hex4:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 102px solid transparent;
}

/* line 222, ../../compass/sass/_home.scss */
.hex4:before {
  left: 0%;
  bottom: 100%;
  border-bottom: 57.74px solid #0a093e;
}

/* line 228, ../../compass/sass/_home.scss */
.hex4:after {
  top: 100%;
  width: 0;
  left: 0%;
  border-top: 57.74px solid #0a093e;
}

/* line 237, ../../compass/sass/_home.scss */
.hex5 {
  position: relative;
  width: 202px;
  height: 114.47px;
  background-color: #A83B56;
  margin: 57.74px 0;
  z-index: 3;
  line-height: 60px;
  left: 40em;
  bottom: 66em;
}

/* line 250, ../../compass/sass/_home.scss */
.hex5:before,
.hex5:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 102px solid transparent;
}

/* line 259, ../../compass/sass/_home.scss */
.hex5:before {
  left: 0%;
  bottom: 100%;
  border-bottom: 57.74px solid #A83B56;
}

/* line 265, ../../compass/sass/_home.scss */
.hex5:after {
  top: 100%;
  width: 0;
  left: 0%;
  border-top: 57.74px solid #A83B56;
}

/* line 274, ../../compass/sass/_home.scss */
.hex6 {
  position: relative;
  width: 202px;
  height: 114.47px;
  background-color: #14a3ba;
  margin: 57.74px 0;
  z-index: 3;
  line-height: 60px;
  left: 50em;
  bottom: 71em;
}

/* line 286, ../../compass/sass/_home.scss */
.hex6:before,
.hex6:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 102px solid transparent;
}

/* line 295, ../../compass/sass/_home.scss */
.hex6:before {
  left: 0%;
  bottom: 100%;
  border-bottom: 57.74px solid #14a3ba;
}

/* line 301, ../../compass/sass/_home.scss */
.hex6:after {
  top: 100%;
  width: 0;
  left: 0%;
  border-top: 57.74px solid #14a3ba;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
/* line 372, ../../compass/sass/_home.scss */
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 380, ../../compass/sass/_home.scss */
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  z-index: 3;
}

/* line 392, ../../compass/sass/_home.scss */
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}

/* line 398, ../../compass/sass/_home.scss */
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 406, ../../compass/sass/_home.scss */
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
  z-index: 3;
  top: -76em;
  left: 0em;
}

/* line 422, ../../compass/sass/_home.scss */
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

/* line 437, ../../compass/sass/_home.scss */
#text {
  margin-left: -55px;
  z-index: 3;
}

/* line 3, ../../compass/sass/_write.scss */
.page-header {
  margin-top: 10em;
  text-align: center;
}

/* line 8, ../../compass/sass/_write.scss */
.img-thumbnail {
  margin-left: 8em;
  margin-top: -38em;
}

/* line 13, ../../compass/sass/_write.scss */
h1, h2 {
  font-weight: bold;
  font-size: 5em;
  margin-left: 1em;
}

/* line 20, ../../compass/sass/_write.scss */
.btn-primary {
  margin-top: 0em;
  margin-left: -38em;
}

/* line 24, ../../compass/sass/_write.scss */
.btn-success {
  margin-right: 2em;
}

/* line 28, ../../compass/sass/_write.scss */
.btn {
  position: relative;
  top: -9em;
  left: -11em;
  right: -14em;
  margin: auto;
}

/* line 36, ../../compass/sass/_write.scss */
.writeBookBackground {
  background-color: #fc6554;
}

/* line 40, ../../compass/sass/_write.scss */
.newBook {
  position: relative;
  left: 46em;
  top: -41em;
  text-align: center;
}

/* line 3, ../../compass/sass/_about.scss */
.dividing-line {
  height: 78px;
  width: 100%;
  background-color: #fff;
}

/* line 10, ../../compass/sass/_about.scss */
#about {
  background-color: #fff;
  top: 0;
  padding-bottom: 2em;
  margin-top: -58.5em;
  z-index: -1;
  min-width: 111%;
  min-height: 100%;
  overflow: scroll;
  display: flex;
}

/* line 3, ../../compass/sass/_register.scss */
.register-wrapper {
  margin-top: 11em;
  background: #fff;
  padding: 10px;
}
/* line 8, ../../compass/sass/_register.scss */
.register-wrapper .button {
  top: 1em;
}
